@import url('https://fonts.googleapis.com/css2? family= Inria+Serif:wght@300 & family= Poppins:wght@300;500;800 & display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #909090;
    max-width: 1280px;
    margin: 0 auto; /*auto ajuda a centralizar o body. Auto pega os dois valores do lado, soma e divide por 2*/
    color: #202124;
}

body.modo-escuro{
    background-color: #202124;
    color: #f5f5f5;
}

header{
    display: flex;/*o flex permite o posicionamento e o alinhamento de elementos*/
    justify-content: space-between; /*espaço entre os elemetnos*/
    padding: 25px;
}

header .logo, header .imagem-botao{
    width: 30px;
    display: inherit; 
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover, header .imagem-botao:hover, main .cartao-pokemon:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out; /*efeito suave-entrada-saída*/
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap; /*Quando não houver mais espaço na tela, ele quebra para linha de baixo*/
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column; /*Indica para o display flex a direção do alinhamento, nesse caso, alinhamento em colunas.*/
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;;
}

main .cartao-pokemon .tipo-grama, .tipo-agua, .tipo-fogo, .tipo-inseto, .tipo-veneno{
    border-radius: 10px;
    padding: 8px;
}
.tipo-grama{
    background-color: #7ac74c;
}

.tipo-veneno{
    background-color: #df67bdfb;
}

.tipo-fogo{
    background-color: #ee8130;
}

.tipo-agua{
    background-color: #6390f0;
}

.tipo-inseto{
    background-color: #a6b91a;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

